.App {
  height: 100vh;
  text-align: center;
  background-color: #46475d;
  color: #8a7868;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: wheat;
}

.loginBox {
  width: 10em;
  border-radius: 15px;
  border: 1px solid wheat;
  padding: 20px;
}

.profileBox {
  width: 10em;
  border-radius: 15px;
  border: 1px solid wheat;
  padding: 20px;
}

.loginInput {
  color: wheat;
  margin-top: 15px;
  min-height: 30px;
  min-width: 80%;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #46475d;
}

.button {
  color: wheat;
  background-color: #46475d;
  border: 1px solid wheat;
  border-radius: 5px;
  margin: auto;
  margin: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.genderButton {
  color: wheat;
  background-color: #46475d;
  border: 1px solid wheat;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.genderList {
  list-style: none;
  border-radius: 15px;
  border: 1px solid wheat;
  padding: 2%;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
}

li {
  line-height: 0.1em;
}

.genders {
  border-left: 20%;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: wheat;
}
